@media screen and (min-width: 700px) {
  #menu-button {
    display: none;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  nav a {
    padding: 0.8rem 1rem;
  }

  .temple-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .temple-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .temple-grid img {
    height: 250px;
  }
}
